body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    background-color: #FFD700; /* Amarillo */
    padding: 15px;
    text-align: center;
    color: #000;
}

/* Menú oculto */
nav {
    display: none;
    flex-direction: column;
    background-color: #DC143C; /* Rojo */
    position: absolute;
    top: 60px;
    left: 15px;
    padding: 10px;
    border-radius: 8px;
}

nav.active {
    display: flex;
}

nav a {
    color: #FFD700;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #FFD700;
}

nav a:hover {
    background-color: #00008B;
    color: white;
}

main {
    padding: 20px;
    background-color: blue;
    color: white;
}

section {
    margin-bottom: 20px;
    border-left: 5px solid #00008B;
    padding-left: 10px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

/* Pantalla de carga */
.img-loading {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: 9999;
    animation: fadeOut 4s forwards; /* desaparece después de la animación */
}

.jet {
    width: 150px;
    animation: vuelo 3s ease-in-out forwards;
}

/* Animación del jet */
@keyframes vuelo {
    0% {
    transform: translateX(-500px) rotate(90deg);
    }
    50% {
    transform: translateX(0) rotate(0deg); /* se pone vertical */
    }
    100% {
    transform: translateY(-385px) rotate(0deg); /* aterriza */
    }
}

/* Desvanecer pantalla de carga */
@keyframes fadeOut {
    0% { opacity: 1; visibility: visible; }
    90% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

/* Contenido principal oculto al inicio */
.main-content {
    opacity: 0;
    animation: showContent 6s forwards; /* aparece después de la carga */
}