body {
    font-family: sans-serif;
    background-color: #AA0505; /* Rojo Iron Man */
    color: rgb(255, 251, 0); /* Azul claro para el texto */
}

header {
    gap: 1rem;
    text-align: center;
    align-items: stretch;
    width: min(100%, 2000px);
    margin: 1rem auto 2rem;
    background-color: #FFD700; /* Dorado Iron Man */
    padding: 8px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    color: #000;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

.flight-options {
    gap: 1rem;
    display: flex;
    justify-content: space-between;;
    border: 2px solid #FFD700; /* borde dorado */
    color: #fff;
    text-decoration: none;
    background-color: #AA0505; /* rojo principal */
    padding: 5%;
    margin: 10px ;
    border-radius: 40px 0 40px 0;
    opacity: 0;   
    transform: scale(0.5);
    animation: aparecer 1s ease-out forwards;
    transition: box-shadow 0.3s ease;
}

.flight-options:hover {
    box-shadow: 0 0 15px #FFD700; /* efecto brillante dorado */
    transform: scale(1.05);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

main {
    text-align: center;
    width: min(100%, 360px);
    margin: 1rem auto;
    display: flex;
    text-align:center stretch;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #FFD700; /* dorado */
}

/* Pantalla de carga */
.img-loading {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: 9999;
    animation: fadeOut 4s forwards; /* desaparece después de la animación */
}

.jet {
    width: 150px;
    animation: vuelo 3s ease-in-out forwards;
}

/* Animación del jet */
@keyframes vuelo {
    0% {
    transform: translateX(-500px) rotate(90deg);
    }
    50% {
    transform: translateX(0) rotate(0deg); /* se pone vertical */
    }
    100% {
    transform: translateY(-385px) rotate(0deg); /* aterriza */
    }
}

/* Desvanecer pantalla de carga */
@keyframes fadeOut {
    0% { opacity: 1; visibility: visible; }
    90% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

/* Contenido principal oculto al inicio */
.main-content {
    opacity: 0;
    animation: showContent 6s forwards; /* aparece después de la carga */
}

/* Responsive */
@media (max-width: 480px) {
    header, main {
        width: 100%;
        padding: 1rem;
        border-radius: 12px;
    }
}