body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(165, 255, 255);
    color: #333;
}

/* Header */
header {
    background-color: #AA0505; /* Rojo Iron Man */
    color: #FFCC00;            /* Dorado */
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

/* Menú oculto */
nav {
    display: none;
    flex-direction: column;
    background-color: #000000; /* Rojo */
    position: absolute;
    top: 60px;
    left: 15px;
    padding: 10px;
    border-radius: 8px;
}

/* Flight Ticket Style */
.ticket {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #AA0505;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}

.ticket-header {
    background-color: #AA0505;
    color: #FFCC00;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.ticket-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ticket-body p {
    margin: 0;
    font-size: 1rem;
}

.ticket-footer {
    background-color: #FFCC00;
    color: #AA0505;
    text-align: center;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

footer {
    background-color: #AA0505;
    color: #FFCC00;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
    header h1 {
    font-size: 1.4rem;
    }

    .ticket {
    width: 100%;
    font-size: 0.9rem;
    }

    .ticket-body {
    padding: 10px;
    }
}

