body {
    font-family: sans-serif;
    background-color: rgb(61, 61, 61);}
header {
    background-color: rgb(107, 107, 107);
    color: white;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 12px;}

img.logo {
    height: auto;}

.title {
    }